@page "{number?}"

@model BankApp.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Users</h2>
<hr />

@foreach (var user in Model.Users)
{
    <p> @user.Givenname @user.Maidenname </p>
}

<Pagination page-count="10" page-number="@Model.PageNumber" ></Pagination>